# Python bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/

# Data directories
/data

# History files
.history/
/RAWRAG/data